body {
    font-family: Arial, sans-serif;
}
.container {
    display: flex;
    justify-content: center;
}
.eInfo {
    width: 500px;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 2em 6em;
}